<div class="jumbotron center">

    <h1>Listing pins</h1>
  
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  </thead>

  <tbody>
    <% @pins.each do |pin| %>
     
          <td><%= pin.description %></td>
          <td><%= link_to 'Show', pin,  class: "btn btn-default btn-xs" %></td>
          <td><%= link_to 'Edit', edit_pin_path(pin),  class: "btn btn-default btn-xs" %></td>
          <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" %></td>
        </div>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pin', new_pin_path, class: "btn btn-primary" %>
</div>
